---
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
import Presentation from "../components/presentation.astro";
import GithubUserData from "../components/GithubUserData.vue";
---

<Layout title="Leonardo Muñoz" description="Full-Stack Developer">
  <div class="max-w-4xl mx-auto px-7 lg:px-0 mt-32">
      <Presentation />      
  </div>

  <Separator text="Check out my projects" />
  <Projects />
  <!-- <Separator text="Some of my writing" /> -->
  <!-- <Writings /> -->
</Layout>
