---
import IconMDI from "./IconMDI.vue";

const { project } = Astro.props;

const urlParsed = new URL(project.demo);
const url = urlParsed.host;
---

<div
  class="bg-neutral-50 dark:bg-neutral-900 rounded-2xl p-6 border border-neutral-200 dark:border-neutral-800 mb-6"
>
  <div class="sticky top-8 space-y-6">
    <div>
      <h5
        class="text-lg font-semibold text-neutral-700 dark:text-white mb-3"
      >
        Project in action
      </h5>
      <div class="flex items-center gap-2">
        <IconMDI client:only="vue" name="mdi:world" size="4" />
        <a
          href={project.demo}
          target="_blank"
          rel="noopener noreferrer"
          class="text-sm text-blue-600 dark:text-blue-400 hover:underline tracking-tight"
        >
          <span class="flex items-center gap-2 dark:text-white">{url}</span>
          
        </a>
      </div>
      
    </div>
  </div>
</div>
