---
const { icon, text } = Astro.props;
---

<div class="flex items-center gap-2 text-2xl text-neutral-800 dark:text-neutral-200 h-12 whitespace-nowrap">
  <img
    src={`https://cdn.simpleicons.org/${icon}`}
    alt="language"
    class="w-4 h-4 flex-shrink-0"
  />
  <span>{text}</span>
</div>