---
const { icon, text, size = 4 } = Astro.props;
---

<div class="flex items-center gap-2 text-2xl text-neutral-800 dark:text-neutral-200 h-12 whitespace-nowrap">
  <img
    src={`https://cdn.simpleicons.org/${icon}`}
    alt="language"
    class={`w-${size} h-${size} flex-shrink-0`}
  />
  <p class=" text-xl font-medium">{text}</p>
</div>