---
const { icon, text } = Astro.props;
---

<div class="flex items-center gap-2 text-sm text-neutral-500 dark:text-neutral-400 h-8 whitespace-nowrap">
  <img
    src={`https://cdn.simpleicons.org/${icon}`}
    alt="language"
    class="w-4 h-4 flex-shrink-0"
  />
  <span>{text}</span>
</div>