---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
    <script src="../assets/css/main.css"></script>
    <ClientRouter />
    <!-- <Fragment set:html={import.meta.env.HEADER_INJECT} /> -->
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main2.js"></script>
    <script is:inline>
      window.addEventListener('astro:navigation-end', () => {
        console.log('Navegación SPA terminada');
        // scroll con offset aquí
      });
    </script>
    <script is:inline>
      window.addEventListener("astro:navigation-end", () => {
        console.log("SPA navigation finished");
      })

      const OFFSET = 80;

      // El ClientRouter emite el evento 'astro:navigation-end' cuando termina la navegación SPA
      window.addEventListener("astro:navigation-end", () => {
        const hash = window.location.hash;
        if (hash.length > 1) {
          requestAnimationFrame(() => {
            const el = document.getElementById(hash.slice(1));
            if (el) {
              const top = el.getBoundingClientRect().top + window.scrollY;
              window.scrollTo({
                top: top - OFFSET,
                behavior: "smooth",
              });
            }
          });
        }
      });
    </script>
    <!-- <Fragment set:html={import.meta.env.FOOTER_INJECT} /> -->
  </body>
</html>
